<h1>Topic index</h1>
<% @topics.each do |topic| %>

<div class="texte-index">
  <h2><%= link_to topic.text, topic_path(topic) %></h2>
  <%= link_to "Edit", edit_topic_path(topic) %>
   <%= link_to topic_path(topic),
    method: :delete,
    data: { confirm: "Are you sure?" } do %>
    Delete
  <% end %>
</div>


<% end %>

<%= link_to "add a new", new_topic_path %>
