.submit {
  background-color: #50595c;
  border: none;
  width: 100%;
  padding: 12px 20px;
  border-radius: 25px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bolder;
  color: white;
  box-shadow: 0 2px 6px 0 #B3A999;
}
